\    
html, body {
    height: 100%;
    margin: 0px; /* Remove the margin around the body */
}   

body {
    background-color: #0076A2;
    font-size: 13px;
    
    #loader
    {
        opacity:0.9;
        width: 100%;
        height: 100%;
        background: #000;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 100000;
                
        .loader-indicator{
            position: absolute;
            top: calc(50% - 60px);
            left: calc(50% - 50px);
                    
            img.loading-gif{
                position: absolute;
                top: 42px;
                left: 35px;
                width: 28px;
            }

            .loading-text{
                font-size: 12px;
                line-height: 15px;
                margin-top: 10px;
                color: $color-gray;                       
            }
        }
                 
    }

           
    .container{
        width: 100%;
    }

    ul{
        list-style-type: none;
    }

    small{
        font-size: 10px !important;
    }

    .btn-default{
        color: $color-fields;
        font-size: 12px;
        padding-top: 8px;
    }

    .btn-primary {
        background-color: $color-blue !important;
            font-size: 12px;
    }

    .btn-group{
        .btn-primary {
            background-color: $color-gray !important;
            border-color: $color-light-gray !important;
            color: $color-light-gray;

            &.active{
                color: #fff;
                background-color: $color-blue !important;
            }

            &:hover{
                    color: #fff;
                    background-color: $color-light-gray !important;
            }
        }        
    }
    
    .ui-select-bootstrap {
            

            .ui-select-choices-row{

                > a{
                    padding-left: 2px;
                }

                &.active > a{
                    background-color: $color-blue !important;
                    padding-left: 2px;
                }
            }
    }

    .dropdown-menu{
        overflow: auto;
        max-height: 200px;

        li{
            padding: 0 10px 0 10px;
            cursor: pointer;
        }
    }

    .btn-group.dropdown{
        margin-bottom: 5px;
        padding-left: 0;
    }

    .navbar{
        .navbar-header{
                .navbar-brand {
                margin-left: 95px !important;
            }
        }
    }          

    .form-box{
        padding-top: 0;        

        .fs-logo{
            float: left;
            margin-right: 20px
        }

        p.info{
            font-size: 12px;
            line-height: 1.5;
            text-align: justify;                  
            margin-top: 20px;
        }

        .f1-steps{ 
            clear: both;
                       
            .f1-progress{     
                    top: 25px;            
                         
                    .f1-progress-line {
                        background-color: $color-blue;
                    }   
            }           

            .f1-step{

                &.active {                
                    .f1-step-icon {
                        background-color: $color-blue;
                        color: #fff;
                    }
                    p{
                        color: $color-blue;
                    }
                }

                .f1-step-icon{
                        background-color: $color-gray;
                        color: $color-light-gray;
                        cursor: pointer;

                        &:hover{
                            color: #fff;
                            background-color: $color-light-gray;
                        }
                }
            }
        }     

        .wizard-pages {
            margin-top: 20px;

            fieldset{
                display: block;
            }

            button.btn-next,
            button.btn-submit{
                    background-color: $color-blue;
            }  

            .page1{
                fieldset{
                           
                    label{
                        text-align: left;                                                
                    }

                    .fa-info-circle{
                        font-size: 20px;
                        cursor: pointer;
                        margin-left: 4px;
                        color: #000;
                    }

                    .fa-refresh {
                        font-size: 26px;
                        cursor: pointer;                               
                        color: $color-blue;
                        margin-left: 5px;
                        float: left;

                        &:hover{
                            color: $color-light-gray;
                        }
                    }

                    .asterisk{
                        padding-left: 5px;
                        color: red;
                        float: left;
                    }

                    input.required{
                        background-color: #f2dede !important;
                        border-color: #ebccd1 !important;
                    }

                    .separator{
                        margin-left: 10%;
                        margin-right: 10%;
                    }

                    .dropdown-container{                     
                        padding: 0 0 5px 0;

                        &.required{                           
                            .btn-default{
                                background-color: #f2dede !important;
                                border-color: #ebccd1 !important;
                            }
                        }
                    }                           
                }
            }

            .page2{

                font-size: 12px;

                ul.categories{
                    padding-left: 0;
                    text-align: left;

                    .category{
                        position: relative;
                        line-height: 1.5;
                        padding: 10px 0 10px 0;                               

                        .category-field{   
                            
                            position: relative;                         
                            
                            input[type="text"], textarea{
                                width: 100%;                              
                            }

                            input[type="text"]{
                                padding: 12px 10px 15px 10px;
                                line-height: 20px;
                            }

                            .left{
                                float: left;
                            }

                            textarea{                          

                                &.no-border{
                                    width: calc(100% - 50px);
                                    border: none;
                                    font-size: 12px;
                                    padding-top: 2px;
                                    padding-left: 0;
                                    margin-top: 1px;
                                    margin-left: 5px;
                                    height: 40px;
                                    overflow: hidden;
                               
                                    &:focus{
                                        padding-left: 8px;
                                        padding-top: 8px;
                                        border: dashed 0.5px $color-lines;
                                        overflow: auto;
                                        height: 60px;
                                       
                                    }                                                                
                                } 
                            } 
                                                                
                                .warning-message{
                                display: block !important;
                                position: absolute;
                                top: 24px;
                                left: 12px;
                                width: 198px;
                                z-index: 999;

                                .alert-danger{
                                    height: 20px;
                                    line-height: 0;
                                }
                                }

                                .rzslider{
                                    .rz-pointer{
                                        background-color: $color-blue;
                                    }

                                    .rz-ceil, .rz-floor{
                                        display: none !important;
                                    }
                                }                                   
                        }

                        .fa-times-circle{
                            font-size: 30px;
                            position: absolute;
                            top: 0;
                            right: -7px;
                            cursor: pointer; 
                            color: $color-gray;
                            
                            &:hover{
                                    color: $color-light-gray;
                            }                        
                        }  
                    }

                    .category-footer{
                        margin-top: 10px;

                        .completed{
                            width: 100%;                           
                            margin-top: 5px;
                            font-size: 12px;
                           
                            
                            .progress{
                                
                                position: relative;

                                &.red {
                                    .progress-bar{
                                        background-color: red;
                                        .progress-text{
                                            color: #fff !important;  
                                        }                                                              
                                    }
                                }

                                .progress-bar{
                                        background-color: $color-blue;  
                                     
                                        .progress-text{
                                        color:#000; 
                                        white-space:nowrap;  
                                        left: calc(50% - 12px);
                                        position: absolute;                           
                                    }                                                                   
                                }
                                
                            } 
                        }

                        .counter{
                            text-align: center;
                        }
                    }
                }
            }

            .page3 {                
                .well{
                        font-size: 24px
                }
            }
        }
        }
  }

  //X-Small & Small screens
  .mobile{
               
        .wizard-pages{  
            
                 button.btn {
                    min-width: 100px;
                    height: 34px;   
                    font-size: 13px;  
                    line-height: 34px;
                 }
                          
                .page1{
                    .user-fields{
                        label{
                            margin-top: 10px;
                            margin-bottom: 0;   
                            padding-left: 0; 
                            height: 24px;     
                        }                                   
                    }
                }
                            
                .page2{
                    .categories {
                         .category-header{
                            display: none;
                         }

                         .category{                                
                                border-bottom: none;
                                .category-field {   
                                    margin-top: 5px;
                                }
                         }
                         .category-footer{
                             label{                                 
                                 clear: left;
                                 float: left;
                                 width: 40%;
                             }
                         }
                    }
                }
            } 

    }    

   //Medium & Large
   .desktop{          
        .wizard-pages{
                  .page2{
                    .categories{
                         .category-header{
                                border-bottom: solid 1px $color-lines;
                                border-top: solid 1px $color-lines;

                                .row > div{                           
                                    text-align: left;
                                    font-size: 11.5px;
                                    line-height: 15px;                           
                                    padding: 10px 0 10px 10px;
                           
                                    &:first-child{
                                        font-size: 12px;                              
                                        text-align: center;
                                        font-weight: bold;
                                    }                                             
                           
                                    .fa{
                                        float: left; 
                                        margin-top: 2px;
                                        margin-right: 5px;    
                                        color:$color-gray;
                                        font-size: 16px;
                                        cursor: pointer;                                                           
                                    }

                                    .tooltip .tooltip-inner{
                                        text-align: left;
                                        padding: 10px;
                                        background-color: #000;                                                  
                                    }
                                }                        
                            }
                        
                         .category{                                
                                border-bottom: solid 1px $color-lines;
                         }  

                         .category-footer{
                             label{
                                 display: none;
                             }
                         }
                    }
               }
           }               
      }


   //Specific for this screen size range
   @media all and (min-width: 768px) and (max-width: 992px){
   
    .page2{
          font-size: 11px !important;

            .categories{
                .category-header .row > div,
                .category-field {
                    padding-left: 0 !important;
                    padding-right: 5px !important;
                }

                .category-header .row > div{
                    font-size: 10px !important;
                }

                .category-field {
                    
                    ::-webkit-input-placeholder{
                       font-size: 11px;
                    }
                    :-moz-placeholder {
                        font-size: 11px;
                    }
                    ::-moz-placeholder {
                        font-size: 11px;
                    }
                    :-ms-input-placeholder {
                        font-size: 11px;
                    }                 

                    .ui-select-bootstrap {
              
                        .ui-select-toggle > .caret {
                            right: 5px;
                        }

                        .ui-select-match > .btn{
                            padding-left: 5px;
                        }

                        .ui-select-placeholder{
                            font-size: 11px;
                        }
                    } 
                }      
            }          
      }
  }
   

  


  
    

   

