@import "bootstrap";
@import "font";
@import "colors";
@import "forms";
@import "rzslider";
@import "base";


body{
    font-size: 14px;

    ul{
        list-style-type: none;
    }

    small{
        font-size: 10px !important;
    }

    .btn-default{
        color: $color-fields;
    }

    .navbar{
        .navbar-header{
             .navbar-brand {
                margin-left: 95px !important;
            }
        }
    }   

    .top-content{
        .container{
          
        }
    }

    .form-box{
        padding-top: 0;

        .completed{
            width: 200px;
            position: absolute;
            left: calc(50% - 100px);
            top: 0;
            font-size: 12px;
            color: #0098D2;
            margin-top: 5px;  
            
            .progress-bar{
                background-color: $color-blue;
            }

            .progress-text{
                color:$color-light-gray; 
                white-space:nowrap;
                padding-left:60px
            }   
            
                 
        }

        .fs-logo{
            float: left;
            margin-right: 20px
        }

        p.info{
            font-size: 12px;
            line-height: 1.5;
            text-align: justify;
            width: calc(100% - 65px);
            margin-top: 20px;
        }

        .f1-steps{ 
            clear: both;
                       
            .f1-progress{                 
                 .f1-progress-line {
                     background-color: $color-blue;
                  }   
            }           

            .f1-step{

                &.active {                
                    .f1-step-icon {
                       background-color: $color-blue;
                    }
                    p{
                        color: $color-blue;
                    }
                }

                .f1-step-icon{
                     background-color: $color-gray;
                     cursor: pointer;

                      &:hover{
                          background-color: $color-light-gray;
                      }
                }
            }
        }     

        .wizard-pages {
            margin-top: 20px;

            fieldset{
                display: block;
            }

            button.btn-next,
            button.btn-submit{
                 background-color: $color-blue;
            }           


            .page1{
                fieldset{
                   label{
                        text-align: left;                                    
                    }
                   .dropdown-container{                     
                       padding: 0 0 5px 0;
                   }
                }
            }

            .page2{

                font-size: 12px;

                ul.categories{
                    padding-left: 0;
                    text-align: left;

                    .category-header{
                        border-bottom: solid 1px $color-lines;
                        border-top: solid 1px $color-lines;

                        .row > div{
                            padding-left: 10px;
                            padding-right: 0;
                            text-align: left;
                            font-weight: bold;                          
                           
                            .fa{
                                float: left; 
                                margin-top: 2px;
                                margin-right: 5px;    
                                color:$color-gray;
                                font-size: 24px;
                                cursor: pointer;                                                           
                            }

                            .tooltip .tooltip-inner{
                                text-align: left;
                                padding: 10px;
                                background-color: #000;                                                  
                            }
                        }                        
                    }

                    .category{
                        position: relative;
                        line-height: 1.5;
                        padding: 10px 0 10px 0;
                        border-bottom: solid 1px $color-lines;

                        .category-field{                            
                             .ui-select-container{                                 
                                                               
                             }                             
                             textarea{
                                margin-top: -12px;
                             }  
                             
                             .rzslider{
                                 .rz-pointer{
                                     background-color: $color-blue;
                                 }
                             }                                   
                        }

                        .fa-times-circle{
                            font-size: 30px;
                            position: absolute;
                            top: 0;
                            right: -7px;
                            cursor: pointer; 
                            color: $color-gray;
                            
                            &:hover{
                                 color: $color-light-gray;
                            }                        
                        }  
                    }

                    .category-footer{
                        margin-top: 10px;
                    }
                }
            }

            .page3{

            }
        }
    }

    .btn-primary {
        background-color: $color-blue !important;
    }

    .dropdown-menu{
        overflow: auto;
        max-height: 200px;

        li{
            padding: 0 10px 0 10px;
            cursor: pointer;
        }
    }

    .btn-group.dropdown{
        margin-bottom: 5px;
        padding-left: 0;
    }

}