<div ng-controller="QuestionnaireController as vm">
    <ul class="categories">
        <li class="category-header">
            <div class="row">
                <!--<div class="col-md-4"><b>Job Activity</b></div>
                <div class="col-md-2">
                    <i class="fa fa-info-circle" uib-tooltip="What percentage (%) of your time and effort is spent performing the following responsibilities in a typical month (Must sum to 100%)"></i>
                     <b>% Time & Effort </b>
                </div>
                <div class="col-md-2">
                    <i class="fa fa-info-circle" uib-tooltip="The role of the Administative Support Person is typical to support a Manager or team of Managers. Please identify which tasks are typically performed by the Manager versus the Administrative Support Person"></i>
                    <b>Activity Owner </b>
                </div>
                <div class="col-md-2">
                    <i class="fa fa-info-circle" uib-tooltip="Rate whether this activity is performed manually or electronically via the use of technology (excluding email)"></i>
                    <b>Manual vs Elect.</b>
                </div>
                <div class="col-md-2">
                    <i class="fa fa-info-circle" uib-tooltip="Where technology is being used to manage and perform the work, provide the name of the technology vendor/system application"></i>
                    <b>Technology Used </b>
                </div>-->

                <div class="col-md-4">Job Activity</div>
                <div class="col-md-2">
                    <!--<i class="fa fa-info-circle" uib-tooltip="% Time & Effort"></i>-->
                    % of time spent performing the following activities:
                </div>
                <div class="col-md-2">
                    <!--<i class="fa fa-info-circle" uib-tooltip="Activity Owner"></i>-->
                    Who is primarily responsible for performing each activity:
                </div>
                <div class="col-md-2">
                    <!--<i class="fa fa-info-circle" uib-tooltip="Manual vs Electronic"></i>-->
                    Is this activity performed manually or using technology:
                </div>
                <div class="col-md-2">
                    <!--<i class="fa fa-info-circle" uib-tooltip="Technology Used"></i>-->
                    If technology is being used, name of the vendor/program:
                </div>
            </div>
        </li>

        <li class="category" ng-repeat="questionnaireItem in vm.dataContext.questionnaireData">
            <div class="row">
                <div class="category-field col-md-4">                   
                    <div ng-if="questionnaireItem.category.id > 0">
                        <b>{{questionnaireItem.category.name}}: </b>{{questionnaireItem.category.jobActivity}}
                    </div>
                    <div ng-if="questionnaireItem.category.id == 0">
                        <b class="left">{{questionnaireItem.category.name}}: </b><textarea ng-model="questionnaireItem.category.jobActivity" placeholder="Type description here..." class="no-border"></textarea>
                    </div>
                </div>
                <div class="category-field col-md-2">
                    <div style="display: none" ng-class="{ 'warning-message': (vm.percentageTimeEffort > 100 && questionnaireItem.answer.timeEffort > 0) }">
                        <uib-alert type="danger">Total time effort exceeds 100%</uib-alert>
                    </div>
                    <ui-select ng-model="questionnaireItem.answer.timeEffort" theme="bootstrap">
                        <ui-select-match class="ui-select-match" placeholder="Time Effort:">{{$select.selected}} %</ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="percentageTimeEffortItem in vm.percentageTimeEffortOptions">
                            <div ng-bind-html="percentageTimeEffortItem + ' %'"></div>
                        </ui-select-choices>
                    </ui-select>
                    <!--<rzslider rz-slider-model="questionnaireItem.answer.timeEffort" rz-slider-options="vm.sliderOptions"></rzslider>-->
                </div>
                <div class="category-field col-md-2">
                    <ui-select ng-model="questionnaireItem.answer.activityOwner" theme="bootstrap">
                        <ui-select-match class="ui-select-match" placeholder="Acivity Owner:">{{$select.selected}}</ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="activityOwnerItem in vm.activityOwnerOptions | filter: $select.search">
                            <div ng-bind-html="activityOwnerItem | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="category-field col-md-2">
                    <ui-select ng-model="questionnaireItem.answer.activityPerformed" theme="bootstrap">
                        <ui-select-match class="ui-select-match" placeholder="Manual vs. Elect:">{{$select.selected}}</ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="activityPerformedItem in vm.activityPerformedOptions | filter: $select.search">
                            <div ng-bind-html="activityPerformedItem | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="category-field col-md-2">
                    <input type="text" placeholder="Technology Used:" ng-model="questionnaireItem.answer.technology" />
                </div>
            </div>
            <!--<i class="fa fa-times-circle" title="Remove questionnaire item" ng-show="questionnaireItem.category.id == 0" ng-click="vm.closeOtherClick($index)"></i>-->
        </li>

        <li class="category-footer">
            <div class="row">
                <div class="col-md-4">
                    <div>TOTALS:</div>
                    <!--<button type="button" class="btn btn-primary" ng-click="vm.addQuestionnaireItemClick()">
                        <span class="fa fa-plus-circle"></span> Add Other
                    </button>-->
                </div>
                <div class="col-md-2">
                    <div class="completed">
                        <label>Time Effort:</label>
                        <uib-progressbar ng-class="{red: vm.percentageTimeEffort > 100 }" max="100" value="vm.percentageTimeEffort"><span class="progress-text">{{vm.percentageTimeEffort}} %</span></uib-progressbar>
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Acivity Owner:</label>
                    <div class="counter"><b>{{vm.totalActivityOwner}}</b> out of <b>{{vm.dataContext.questionnaireData.length}}</b></div>
                </div>
                <div class="col-md-2">
                    <label>Manul vs. Elect:</label>
                    <div class="counter"><b>{{vm.totalActivityPerformed}}</b> out of <b>{{vm.dataContext.questionnaireData.length}}</b></div>
                </div>
                <div class="col-md-2">
                    <label>Technology Used:</label>
                    <div class="counter"><b>{{vm.totalTechnology}}</b> out of <b>{{vm.dataContext.questionnaireData.length}}</b></div>
                </div>
            </div>
        </li>
    </ul>
</div>

