<div ng-controller="WizardController as vm">

    <div id="loader" ng-show="vm.isBusy">
        <div class="loader-indicator">
            <img src="/assets/img/logo.png" />
            <img class="loading-gif" src="/assets/img/loading.gif" />
            <div class="loading-text">Please wait...</div>
        </div>
    </div>

    <div class="top-content" resize resize-mobile="vm.isRunningMobile" ng-class="{ 'mobile': vm.isRunningMobile, 'desktop': !vm.isRunningMobile }">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-12 form-box">
                    <div class="f1">
                        <img class="fs-logo" src="/assets/img/logo.png" />
                        <p class="info">
                            In an effort to <b>"Improve It"</b>, FirstService Residential is embarking on a company-wide initiative to identify improvements and new technologies to impact the efficiency of our Property Managers and the quality of service we provide to our clients.
                            Please respond to the questions below with accuracy.
                        </p>
                        <div class="f1-steps">
                            <div class="f1-progress">
                                <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
                            </div>
                            <div class="f1-step" ng-class="{active: vm.currentStep == 1}">
                                <div class="f1-step-icon" ng-click="vm.stepClick(1)"><i class="fa fa-user"></i></div>
                                <p>User Info</p>
                            </div>
                            <div class="f1-step" ng-class="{active: vm.currentStep == 2}">
                                <div class="f1-step-icon" ng-click="vm.stepClick(2)"><i class="fa fa-check"></i></div>
                                <p>Questionnaire</p>
                            </div>
                            <div class="f1-step" ng-class="{active: vm.currentStep == 3}">
                                <div class="f1-step-icon" ng-click="vm.stepClick(3)"><i class="fa fa-thumbs-up"></i></div>
                                <p>Finish</p>
                            </div>
                        </div>

                        <div class="wizard-pages">

                            <div class="page1" ng-show="vm.currentStep == 1">
                                <div ng-include="'app/views/survey.user.html'"></div>
                            </div>

                            <div class="page2" ng-show="vm.currentStep == 2">
                                <div ng-if="vm.isRunningMobile">
                                    <div ng-include="'app/views/survey.questionnaire.mobile.html'"></div>
                                </div>
                                <div ng-if="!vm.isRunningMobile">
                                    <div ng-include="'app/views/survey.questionnaire.desktop.html'"></div>
                                </div>
                            </div>

                            <div class="page3" ng-show="vm.currentStep == 3">
                                <div class="well">
                                    Thanks for your feedback!
                                </div>
                            </div>

                            <div class="f1-buttons">
                                <button type="button" ng-show="vm.visiblePrev" ng-click="vm.prevClick()" class="btn btn-previous"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Previous</button>
                                <button type="button" ng-disabled="!vm.isUserInfoValid" ng-show="vm.visibleNext" ng-click="vm.nextClick()" class="btn btn-next">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
                                <button type="button" ng-disabled="vm.dataContext.sumbitBtnDisabled" ng-show="vm.visibleSubmit" ng-click="vm.submitClick()" class="btn btn-submit"><i class="fa fa-cloud-upload"></i>&nbsp;&nbsp;Submit</button>
                                <button type="button" ng-show="vm.visibleFinish" ng-click="vm.closeClick()" class="btn btn-submit"><i class="fa fa-times-circle"></i>&nbsp;&nbsp;Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



